doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
<<<<<<< HEAD
    title History Of Warcraft
=======
 title the story of albert einstein
>>>>>>> 69bd7aa91446795aa195ddb0a0d9a6259078ad75

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 History Of Warcraft
        

      section1
        h2 Sejarah Warcraft
        b1 Para Titan dan Terciptanya Alam Semesta, tidak ada yang tahu bagaimana Alam Semesta ini Tercipta.
        h2 
        b1 Beberapa terori mengatakan bahwa ledakan kosmik membuat jutaan Dunia berputar sangat cepat dan terhisap kedalam ruangan hampa yang disebut Great Dark.
        h1
        b1 Sebuah Galaksi yang tercipta dalam satu hari dan memiliki berbagai jenis kehidupan didalamnya. Yang lainnnya percaya bahwa Alam Semesta diciptakan oleh sebuah kekuatan mutlak. Meskipun kebenarannya belum dapat dipastikan, sangatlah jelas bahwa ras dari mahluk yang kuat tercipta untuk membawa stabilitas pada dunia mereka dan menjamin masa depan yang aman untuk mahluk hidup yang mengikuti jejak mereka.
         
      section
              
        b1 Para Raksasa Titan, Dewa berkulit baja dari galaksi lain, menjelajahi galaksi yang baru terbentuk dan mulai bekerja di dunia yang mereka temui. Mereka membentuk dunia dengan menciptakan gunung tinggi dan menciptakan lautan yang luas. Mereka memberi langit udara yang dapat memberikan kehidupan. Itu semua adalah bagian dari tujuan mereka, rencana yang telah diciptakan sejak lama. Mereka bahkan menciptakan ras primitif untuk meneruskan pekerjaan mereka dan menjaga keseimbangan dari dunia yang mereka ciptakan.

      section
        
        b1 Diatur oleh kelompok elit yang disebut Pantheon, para Titan membawa tujuan mereka melalui ratusan juta dunia yang tersebar diseluruh Great Dark pada jaman pertama diciptakan. Para Phanteon yang sangat kuat dan memiliki tugas untuk menjaga struktur dunia, merasa khawatir oleh ancaman serangan dari mahluk sebuah dimensi yang disebut Twisting Nether. Sebuah dimensi asing yang penuh dengan sihir kehancuran dan terhubung dengan dunia Myriad, adalah rumah dari berjuta-juta mahluk yang disebut Malefic, mahluk iblis yang diciptakan hanya untuk menghancurkan kehidupan dan menyerap energi dari mahluk hidup. Tidak dapat menerima kejahatan atau kehancuran dalam bentuk apapun, para Titan berjuang untuk mencari cara untuk mengakhiri ancaman para Iblis.

      section

        h2 Sargeras dan sang Penghianat
      
        b1 Sejak lama, para Iblis datang ke dunia para titan melalui Twisting Nether, dan para Pantheon memilih Ksatria terhebatnya, Sargeras, untuk menjaga garis depan pertahanan. Seorang Raksasa terhormat dari Molten Bronze, Sargeras membawa tugasnya selama ribuan tahun, mencari dan menghancurkan para iblis dimanapun mereka berada. Selama itu, Sargeras menemukan dua kekuatan iblis terhebat, yang dapat memperkuat diri mereka dan mendominasi seluruh kekuatan di dunia.

      section

        b1 Para eredar, sebuah ras yang dipenuhi dengan penyihir jahat, menggunakan sihir Warlock mereka untuk menginvasi dan menjajah beberapa dunia. Ras yang berada di dunia yang dijajah oleh para Eredar dikutuk dan berubah menjadi iblis. Meskipun kekuatan Sargeras yang hampir tak terbatas lebih dari cukup untuk menghancurkan mereka, dia kesulitan dengan hasutan mereka dan pikirannya diracuni dengan kejahatan. Tidak dapat berpikir jernih, sang Titan mulai terjatuh kedalam depresi yang hebat. Meskipun dalam kondisi yang hampir terhasut, Sargeras berhasil menyingkirkan para Warlock dengan menjebak mereka diujung dunia dari Twisting Nether.      

      section

        b1 Sementara kebingungannya dan penderitaannya semakin dalam, Sargeras dipaksa untuk berhadapan dengan grup lain yang ingin mengganggu perintah para Titan yaitu Bangsa Nathrezim. Ras Jahat dari Iblis Vampir (yang juga dikenal sebagai Dreadlords) berhasil menaklukan beberapa populasi dunia dengan meracuni pikiran mereka dan merubah mereka menjadi bayangan. Sang Nefarious, Dreadlord terhebat yang dapat membuat satu bangsa melawan bangsa lainnya dengan cara memanipulasi mereka dengan kebencian dan rasa tidak saling percaya. Sargeras mengalahkan para Nathrezim dengan sangat mudah, tapi hasutan iblis mereka mempengaruhi pikirannya sangat dalam.

      section 
        
        b1 Karena hasutan dan kejahatan merasuki pikiran Sargeras, dia kehilangan keyakinan tidak hanya pada misinya, tapi juga pada visi para Titan dalam memerintah dunia. Akhirnya dia percaya bahwa konsep dari perintah para Titan itu sendiri sangat konyol, dan membiarkan kehancuran mendatangi dunia yang penuh dengan kehidupan. Para Titan temannya mencoba untuk menyelamatkannya dari kegilaan dan menenangkan pikirannya, tapi dia menolak mereka dan lebih mempercayai dirinya sendiri. Hancur dari jabatannya, Sargeras pergi untuk mencari tempatnya sendiri di dunia. Meskipun Pantheon merasa kehilangan dengan kepergiannya, para Titan tidak dapat memprediksikan seberapa jauh saudara mereka pergi.

      section

        b1 Selama ini kegilaan Sargeras telah mengkonsumi jiwa dari para pengikutnya, dia percaya bahwa para Titan bertanggung jawab untuk kegagalannya. Akhirnya dia memutuskan untuk menghancurkan hasil kerja mereka di dunia, dia berencana menciptakan Pasukan yang tak dapat dihentikan dan memiliki tujuan untuk membakar dunia menjadi abu. Bahkan wujud Raksasa Sargeras menjadi berubah karena kejahatan yang berada didalam hatinya. Matanya, rambut dan janggutnya merah terbakar seperti api, dan kulitnya yang terbuat dari baja terbuka untuk mengeluarkan api kebenciannya.

      section

        b1 Dalam kemarahannya, Sargeras menghancurkan penjara para eredar dan para Nathrezim lalu membebaskan para Iblis lainnya. Mahluk ini bersujud dihadapan kemarahan Titan Jahat dan menawarkan untuk melayaninya dalam bentuk apapun. Dari para Eredar yang kuat, Sargeras memilih dua ksatria untuk memimpin para pasukan Iblis Kehancurannya. Kil’jaeden sang Penghasut dipilih untuk mencari ras terjahat di dunia dan merekrut mereka dalam misi Sargeras. Ksatria kedua adalah Archimonde sang Pendendam, dipilih untuk memimpin pasukan Sargeras ke medan perang untuk melawan siapapun yang menghalangi misi sang Titan.
        
      section

        b1 Gerakan Pertama Kil’jaeden adalah untuk memperbudak para Vampiric Dreadlord dengan kekuatannya yang mengerikan. Para dreadlord melayaninya sebagai Agen untuk menjelajahi seluruh dunia, dan mereka sangat senang untuk mencari ras primitif yang dapat mereka hasut dan dijadikan pasukan. Pertama dari para dreadlord adalah Tichondrius sang Kegelapan. Tichondrius melayani Kil’jaeden sebagai ksatria sempurna dan setuju untuk membawa keinginan Sargeras sampai keujung dunia.
      
      section

        b1 Sang Archimonde yang hebat juga memiliki pengikutnya sendiri. Memanggil para Malefic Pit Lord dan pemimpin mereka yang kejam, Mannoroth sang Penghancur, Archimonde berharap untuk menciptakan pasukan petarung elit yang dapat menghancurkan seluruh kehidupan.
        
      section  

        b1 Ketika Sargeras melihat bahwa dia telah memiliki banyak pasukan dan siap untuk mengikuti seluruh perintahnya, dia mengirimkan pasukannya menuju Great Dark. Dia menyebut pasukannya sebagai Burning Legion. Sampai saat ini, masih tidak diketahui berapa banyak dunia yang telah mereka hancurkan dan bakar dalam misi mereka sebagai Burning Crusade diseluruh galaksi.

      section

        h2 Sang Dewa Kuno dan Perintah untuk Azeroth
      
        b1 Tidak siap menghadapi misi Sargeras untuk menghancurkan pekerjaan mereka, para Titan melanjutkan untuk berpindah dari satu dunia ke dunia lainnya, membentuk dan memerintah setiap planet yang mereka lihat cocok. Dalam perjalanannya, mereka menemukan dunia kecil yang memiliki kehidupan yang disebut Azeroth. Sementara para Titan mencari cara untuk menyebrang ke daratan Azeroth, mereka menemukan beberapa mahluk elemental. Para elemental ini, yang menyembah ras iblis yang disebut Dewa Kuno, berusaha untuk mengusir para Titan dan menjaga dunianya dari sentuhan tangan baja mereka.
        
      section

        b1 Para Pantheon, merasa terganggu oleh sang Dewa Kuno, mengumumkan perang dengan para elemental dan pimpinan mereka. Pasukan Dewa Kuno dipimpin oleh Letnan terkuat dari bangsa elemental : Ragnaros sang Raja Api, Therazane sang Ibu Tanah, Al’Akir sang Dewa Angin dan Neptulon sang Penguasa Lautan. Pasukan Kehancuran mereka akan berhadapan dengan para Raksasa Titan. Meskipun para elemental sangatlah kuat, kombinasi kekuatan mereka tidak dapat menghentikan kekuatan para Titan. Satu persatu, para pemimpin elemental gugur, dan kekuatan mereka meredup.
      
      section  

        b1 Sang Pantheon menghancurkan Istana Dewa Kuno dan memenjarakan kelima Letnan Jahat didalam tanah. Tanpa kekuatan Dewa Kuno untuk memberi mereka kehidupan, para elemental mulai pergi ke dunia lain, dimana mereka dapat hidup selama mungkin. Dengan kepergian para elemental, alam menjadi tenang dan dunia menjadi damai. Para Titan melihat bahwa ancaman telah hilang dan mulai bekerja.

      section

        b1 Para Titan menciptakan beberapa ras untuk membantu mereka menghias dunia. Untuk membantu mereka membuat gua didalam perut bumi, para Titan menciptakan mahluk bernama Dwarv dari batu kehidupan. Untuk membantu mereka mengairi lautan dan mengangkat daratan dari dasar laut, para Titan menciptakan raksasa laut yang kuat tapi lembut. Selama beberapa tahun para Titan membentuk dunia, sampai akhirnya sampai ke tahap akhir. Di pusat dunia, para Titan menciptakan mata air yang penuh dengan energi kehidupan. Mata Air itu mereka sebut Mata Air Keabadian, adalah sumber kehidupan untuk dunia. Memiliki kekuatan untuk menopang langit dan menyuburkan tanah agar kehidupan mulai tumbuh. Sejak itu, tumbuhan, pohon, monster dan mahluk lainnya mulai muncul, dan pada hari terakhir sebelum para Titan pergi, mereka menamai dunia itu dengan nama Kalimdor, Dunia yang penuh dengan cahaya bintang.

      section 

        h2 Serangan para Dragonflight
        h2      
        b1 Puas karena dunia kecil mereka telah tercipta dan pekerjaan mereka selesai, para Titan bersiap untuk meninggalkan Azeroth. Tapi, sebelum mereka berangkat, mereka meminta spesies terkuat di dunia itu untuk menjaga Kalimdor, agar ancaman dari manapun dapat mereka lenyapkan. Pada jaman itu, ada banyak ras Dragon. Lima dragon terkuat mendominasi bangsa mereka. Adalah kelima dragon itu yang dipilih oleh para Titan untuk menjaga dunia mereka. Para Phanteon memberikan sebagian kekuatannya kesetiap pimpinan para Dragon. Para Dargon hebat ini ( yang terdaftar dibawah ) menjadi dikenal sebagai Aspek Terhebat atau Aspek Dragon.
        
      section  

        b1 Aman’Thul, pemimpin tertinggi dari Pantheon, memberikan sebagian besar kekuatan kosmiknya kepada sang Bronze Dragon, Nozdormu. Sang pemimpin tertinggi memberi Nozdormu kekuatan untuk menjaga waktu dan mengawasi perputaran takdir dan kehidupan. Akhirnya, Nozdormu yang terhormat dikenal sebagai Yang Tak Mengenal Waktu.
        h2 
        b1 Eonar, sang Titan yang memiliki kekuatan kehidupan, memberikan sebagaian kekuatannya kepada Leviathan Merah, Alexstrasza. Lalu, Alexstrasza dikenal sebagai pengatur Kehidupan, dan dia bekerja untuk menjaga semua mahluk hidup di dunia. Dengan kebijakannya yang hebat dan keramahannya kepada semua mahluk hidup, Alexstrasza diangkat sebagai Ratu Dragon dan memerintah bangsanya.
        
        section   

        b1 Eonar juga memberkati adik termuda Alexstrasza, Dragon hijau bernama Ysera, dengan kekuatan alam. Ysera dikirim ke dimensi lain, terikat dengan Dunia Mimpi Nyata. Dikenal sebagai sang Pemimpi, dia menjaga alam yang tumbuh dari dunianya di dimensi lain, yaitu Mimpi Berlian.
      
        b1 Norgannon, sang Titan dengan kekuatan pelindung dan guru sihir, memberikan sang Dragon Biru, Maylgos, sebagian kekuatannya. Sejak itu, malygos dikenal sebagai Guru Sihir, penjaga kekuatan sihir dan benda pusaka.
        
      section

        b1 Khaz’goroth, sang Titan yang membentuk dan menempa dunia, memberikan sedikit kekuatannya kepada Dragon Hitam yang hebat, Neltharion. Neltharion yang terhormat, dikenal sebagai pelindung bumi dan menguasai seluruh daratan dan mahluk yang berada didalam tanah. Dia memiliki kekuatan dunia dan melayani Alexstrasza dengan sepenuh hati.
        h2 
        b1 Dengan kekuatan barunya, kelima Aspek melindungi dunia dari ketidakhadiran para Titan. Dengan para dragon yang siap untuk menjaga ciptaan mereka, para Titan meninggalkan Azeroth selamanya. Sayangnya, hanya waktulah yang akan menentukan sebelum Sargeras mempelajari para penjaga dunia yang baru mereka ciptakan.

      section

        h2 Dunia yang berkembang dan Mata Air Keabadian
      
        b1 Sepuluh ribu tahun sebelum manusia dan Orc memulai perang pertama mereka, dunia Azeroth hanya memiliki satu benua yang dikelilingi oleh lautan. Benua itu, dikenal sebagai Kalimdor, adalah rumah dari beberapa ras dan mahluk, semuanya patuh kepada hukum rimba. Ditengah daratan gelap itu ada sebuah mata air misterius yang penuh dengan energi. Mata air itu, yang akan dikenal sebagai Mata Air Keabadian, adalah pusat dari kekuatan alam dan sihir dunia. Mendapatkan kekuatannya dari Great Dark diatas dunia, mata air itu bertindak sebagai sumber kehidupan, mengirim energi potensialnya ke seluruh dunia.
      
      section

        b1 Seiring dengan berjalannya waktu, sebuah suku primitif dari campuran manusia berhasil menemukan jalan menuju mata air itu. Para manusia itu tertarik oleh energi aneh yang berasal dari mata air itu, membangun sebuah desa didekatnya. Semakin lama kekuatan kosmik mata air mempengaruhi suku itu, membuat mereka semakin kuat, bijak dan abadi. Suku itu disebut Kaldorei, yang artinya “anak dari bintang” dalam bahasa mereka. Untuk merayakan hal itu, mereka membangun bangunan besar dan kuil di sekitar mata air.
      
      section
        
        b1 Para Kaldorei, atau Night Elf yang akan dikenal kemudian, memuja sang Dewa Bulan, Elune dan percaya bahwa dia tidur didalam Mata Air itu ketika siang hari. Pada malam hari para Pendeta Elf dan para Penyihir mempelajari Mata Air itu dengan sangat penasaran, mencoba mencari tahu rahasia dan kekuatannya. Dengan kehidupan sosial mereka berkembang, para Night Elf menjelajahi Kalimdor dan menemukan suku lainnya. Satu satunya mahluk yang menghentikan mereka adalah para Dragon Suci yang kuat. Para Dragon ini memang tak bisa tertandingi, tapi mereka bertugas untuk melindungi dunia dari ancaman dan bahaya. Para Night Elf menemukan bahwa para Dragon ini adalah para pelindung dunia, dan setuju bahwa mereka dan rahasia mereka lebih baik dibiarkan sendiri.
      
      section  

        b1 Seiring dengan waktu, rasa penasaran para Night Elf memimpin mereka untuk menemui dan berteman dengan para mahluk sakti, salah satunya adalah Cenarius, seorang Dewa yang berasal dari dalam Hutan. Kebaikan hati Cenarius terlihat ketika dia mengajarkan para Night Elf tentang alam. Para Kaldorei yang telah berlatih menunjukan bakat mereka kepada hutan di Kalimdor dan berhasil menyeimbangkan alam.
      
      section

        b1 Selama beratus-ratus tahun, kehidupan para Night Elf semakin membesar dan meluas. Kuil, jalan dan bangunan yang mereka dirikan terus bertambah dan melewati daerah hitam. Azshara, Ratu Night Elf yang cantik dan berbakat, mendirikan sebuat Istana yang megah didekat Mata Air Keabadian sebagai rumah pengikutnya dan Tahta Kerajaannya. Para pengikutnya, yang dia sebut sebagai Quel’dorei atau Highborne, mematuhi semua perintahnya dan percaya bahwa mereka lebih baik daripada yang lainnya. Meskipun Ratu Azshara sangat dicintai dan dihormati oleh seluruh rakyatnya, para Highborne sangatlah tidak disukai oleh sebagian besar Night Elf.
        
      section

        b1 Karena keingintahuannya yang sangat besar kepada Mata Air Keabadian, Azshara memerintahkan para Hightborne untuk mengungkap rahasianya dan membeberkannya kepada dunia. Para Hightborne tenggelam dalam pekerjaan mereka dan mempelajari mata air kehidupan dengan sangat serius. Akhirnya mereka mendapatkan keahlian untuk memanipulasi dan mengendalikan kekuatan kosmik mata air keabadian. Dalam eksperimen mereka, 
        h2
        para Highborne menemukan bahwa mereka dapat menggunakan kekuatan baru mereka untuk menciptakan atau menghancurkan kapanpun mereka inginkan. Para Highborne yang haus kekuatan telah berhasil menguasai sihir primitif dan sekarang berhasil mempelajarinya. Meskipun mereka setuju bahwa sihir itu sangat berbahaya jika tidak digunakan dengan benar, Azhara dan para Highborne mulai mempraktekan mantra mereka yang penuh resiko. Cenarius dan para tokoh Night Elf memperingatkan bahwa kehancuran akan datang jika sihir itu terus dipelajari. Meskipun begitu, Azhara dan para pengikutnya tetap keras kepala dan melanjutkan untuk mempelajari kekuatan itu.
      
      section

        b1 Sementara kekuatan mereka terus berkembang, perubahan terjadi kepada Azshara dan para Highborne. Mereka semakin sombong dan kejam kepada Night Elf lainnya. Kegelapan dan kejahatan mulai mencemari kecantikan Azshara. Dia mulai membenci rakyatnya dan menolak untuk berbicara kecuali para para Pendeta Hightborne kepercayaannya.
        h2
        b1 Seorang pelajar muda bernama Malfurion Stormrage, yang telah mengabdikan hidupnya untuk mempelajari seni primitif tentang Druidism, mulai menyadari bahwa kekuatan yang menakutkan sedang meracuni para Highborne dan Ratunya. Meskipun dia tidak tahu bahwa iblis akan datang, dia tahu bahwa kehidupan para Night Elf akan berubah selamanya.

      section  

        b1 Peperangan Para Ancient
        10.000 tahun sebelum Warcraft I
        Para Highborne dengan ceroboh menggunakan sihir mereka untuk mengirim energi keluar dari Mata Air Keabadian menuju Greak Dark. Energi yang menyebar dirasakan oleh seorang Alien yang sangat jahat. Sargeras, Musuh terbesar semua kehidupan, sang Penghancur Dunia tertarik dengan kekuatan energi itu dan mulai mencari dimana keberadaanya. Mengintai kehidupan di dunia Azeroth dan merasakan kekuatan tak terbatas dari mata air keabadian, Sargeras menjadi haus akan kekuatan. Sang Dewa Kegelapan dari Dimensi Luar memutuskan untuk menghancurkan dunia Azeroth dan mengklaim energi itu untuk dirinya.
        h2      
        b1 Sargeras mengumpulkan pasukan Burning Legionnya dan menciptakan jalan menuju dunia Azeroth. Legion itu terdiri dari berjuta-juta iblis yang menyeramkan, semua dipanggil dari sisi lain galaksi, dan para iblis patuh kepada misi Letnan dari Sargeras, Archimonde sang Penghianat dan Mannoroth sang Penghancur, menyiapkan pasukan Infernal mereka untuk menyerang.
      
      section

        b1 Ratu Azshara, yang mabuk oleh sihirnya, menjadi korban kekuatan Sargeras dan setuju untuk memberinya pintu masuk menuju dunianya. Bahkan para Highbornenya menjadi terhasut dan mulai menyembah Sargeras sebagai dewa mereka. Untuk menunjukkan kesetiaan mereka kepada Legion, para Highborne membantu ratu mereka untuk membuka portal dari dasar air mata keabadian.
        
      section  

        b1 Ketika semua persiapannya telah selesai, Sargeras memulai invasinya menuju Azeroth. Para Ksatria Iblis dari Burning Legion bergerak menuju Azeroth melalui Mata Air Keabadian dan menyerang kota Night Elf yang sedang tertidur. Dipimpin oleh Archimonde dan Mannoroth, pasukan Legion menyebar ke seluruh Kalimdor, hanya menyisakan abu dan mayat. Para Iblis Warlock memanggil Infernal api yang menghantam seperti meteor menuju Kuil Kalimdor yang indah. Satu pasukan pembunuh berdarah dingin yang dikenal sebagai Doomguard berjalan melintasi daratan Kalimdor, membantai siapapun yang berada di jalan mereka. Piaraan iblis yaitu Felhound mengamuk di sisi lain kota dan sangat brutal. Meskipun para Kaldorei yang pemberani berusaha untuk mempertahankan kampung halaman mereka, mereka terpaksa menyerah, sedikit demi sedikit sebelum pasukan Legion membantai mereka.
        
      section  

        b1 Hal itu membuat Malfurion Stormrage ingin mencari bantuan untuk menolong rakyatnya. Stormrage, memiliki seorang adik bernama Illidan, yang berlatih sihir dengan para Highborne, merasa terganggu dengan sesuatu yang merasuki para petinggi. Meyakinkan Illidan untuk menghentikan keinginannya yang sangat berbahaya, Malfurion berusaha mencari Cenarius dan meminta bantuan. Seorang Priestess cantik dan muda, Tyrande, setuju untuk membantu dua saudara itu atas nama Elune. Meskipun Malfurion dan Illidan sama-sama mencintai Tyrande, tapi hati Tyrande hanya milik Malfurion seorang. Illidan cemburu pada percintaan kakaknya dengan Tyrande, tapi dia sadar bahwa hal itu tidaklah sebanding dengan kecanduannya terhadap sihir.
        
      section

        b1 Illidan, yang tumbuh dengan kekuatan sihir yang hebat, berusaha untuk mengendalikan dirinya agar tidak menghisap kekuatan mata air kehidupan sekali lagi. Bahkan, dengan bantuan dari Tyrande, dia dapat menahan dirinya dan menolong kakaknya untuk menemukan sang Dewa, Cenarius. Cenarius, yang tinggal di Moonglades Suci jauh didalam Gunung Hyjal, setuju untuk menolong para Night Elf dengan menemukan para Ancient Dragon dan meminta pertolongan mereka. Sang Dragon, yang dipimpin oleh Leviathan Merah, Alexstrasza, setuju mengirimkan pasukan mereka untuk menghadapi para iblis dan pemimpin infernal mereka.
        h2
        b1Cenarius, memanggil arwah dari hutan, menciptakan pasukan yang terdiri dari manusia pohon dan memimpin mereka melawan pasukan Legion dilapangan terbuka. Ketika para Night Elf sampai ke Kuil Azshara dan Mata Air Keabadian, mereka melihat sesuatu yang menyeramkan. Meskipun yakin dengan sekutu baru mereka, Malfurion dan rekannya menyadari bahwa pasukan Legion tidak dapat dikalahkan hanya dengan kekuatan fisik sendirian.
        
      section

        b1 Ketika pertempuran besar terjadi disekitar kota Azshara, sang Ratu yang terhasut itu sedang menunggu kedatangan Sargeras. Pimpinan dari Legion sedang bersiap untuk melewati Mata Air Keabadian dan memasuki dunia Azeroth. Bayangannya yang sangat besar mulai mendekati permukaan dari Mata Air, Azshara mengumpulkan kekuatan terbesar dari para Pengikutnya. Hanya dengan menyatukan kekuatan sihir mereka dapat menciptakan sebuah gerbang yang sangat besar sehingga Sargeras dapat melewatinya.
        h2
        b1 Ketika pertempuran berdarah terjadi diseluruh Kalimdor, sesuatu yang gawat terjadi. Apa yang terjadi tidaklah diketahui secara jelas, tapi dikatakan bahwa Neltharion, Sang Dragon Aspek Tanah, menjadi gila dalam pertempuran melawan Burning Legion. Dia mulai tercerai dan kemarahan muncul dari balik kulit hitamnya. Menamakan dirinya sebagai Deathwing (Sayap Kematian), sang Dragon yang terbakar berhianat dan meninggalkan kelima Dragonflight dari medan perang.
        
      section  

        b1 Penghianatan Deathwing yang mendadak membuat kelima Dragonflight menjadi lemah. Terluka dan kecewa, Alexstasza dan para Dragon terhormat lainnya terpaksa meninggalkan sekutu mereka. Malfurion dan pengikutnya, sekarang kalah dalam jumlah dan tidak memiliki harapan untuk dapat selamat dari pembantaian.
        h2
        b1 Malfurion, yakin bahwa Mata Air Keabadian adalah suatu jalan bagi iblis untuk dapat datang ke dunia Azeroth, maka harus dihancurkan. Para pengikutnya yang mengetahui bahwa Mata Air Kehidupan adalah sumber dari kekuatan dan keabadian mereka, sangat ketakutan dengan keputusannya. Tapi Tyrande melihat kebijakan dari teori Malfurion, maka dia meyakinkan Cenarius dan pasukannya untuk menghancurkan Kuil Azhara dan mencari cara untuk menutup Mata Air Kehidupan untuk selamanya.

      section

        h2 Kehancuran Dunia
        b1 Mengetahui bahwa kehancuran Mata Air akan membuatnya tidak mendapatkan kekuatan lagi, Illidan dengan egois meninggalkan kelompoknya dan pergi untuk memperingatkan para Highborne akan rencana Malfurion. Kegilaannya terjadi karena dirinya yang haus akan energi dan hubungan antara kakaknya dengan Tyrande, Illidan tidak merasa malu menghianati Malfurion dan berpihak dengan Azshara. Selain itu, Illidan bersumpah untuk melindungi kekuatan Mata Air dengan apapun yang dibutuhkan.
        
      section

        b1 Sakit hati dengan kepergian adiknya, Malfurion memimpin pasukannya kedalam kuil Azshara. Ketika mereka berusaha untuk masuk kedalam ruangan utama, mereka menemukan bahwa para Highborne hampir menyelesaikan ritual gelap mereka. Mantra para Highborne menciptakan sebuah portal besar diatas Mata Air Kehidupan. Dengan bayangan Sargeras yang semakin dekat dengan permukaan, Malfurion dan pasukannya harus menyerang dengan cepat.
        h2
        b1 Azshara telah menerima peringatan dari Illidan, sudah bersiap untuk mereka. Hampir semua pasukan Malfurion gugur karena kekuatan sang Ratu gila. Tyrande, berusaha untuk menyerang Azshara dari belakang, tertangkap oleh penjaga para Highborne. Meskipun dia berhasil membunuh para penjaga, Tyrande mengalami luka yang sangat serius. Ketika Malfurion melihat kekasihnya gugur, dia menjadi sangat marah dan ingin mengakhiri hidup Azshara.
        
      section

        b1 Ketika pertempuran terjadi didalam dan diluar kuil, Illidan muncul dari dekat Mata Air. Membawa botol khusus, Illidan berlutut dan mengisi semua botol dengan air suci dari Mata Air Keabadian. Yakin bahwa iblis dapat menghancurkan kehidupan para Night Elf, dia berencana untuk mencuri air suci dan menyimpan energinya untuk dirinya sendiri.
        b1 Pertempuran antara Malfurion dan Azshara membuat mantra para Hightborne menjadi kacau. Portal yang tidak stabil kemudian meledak dan menciptakan sebuah energi yang dapat menghancurkan dunia selamanya. Ledakan itu menghancurkan kuil dan kota disekitarnya. Ketika pertempuran antara Pasukan Legion dan para Night Elf terjadi didalam kota, Mata Air Keabadian menyurut lalu hancur.

      section

        b1 Akibat dari ledakan catastrophic yang mengguncang bumi dan menghitamkan langit
        Setelah ledakan yang diakibatkan oleh Mata Air Keabadian menghancurkan struktur dunia, lautan menjadi semakin luas dan mengisi celah yang tercipta. Hampir delapan puluh persen daratan Kalimdor hancur, dan hanya menyisakan daratan baru yang dikelilingi oleh lautan yang bergejolak. Di pusat lautan baru ini, dimana Mata Air Keabadian berada, tercipta badai tsunami dan energi chaotic. Luka yang mengerikan ini, dikenal sebagai Maelstrom atau Pusaran Air, tidak akan pernah berhenti berputar. Akan tetap berada disana untuk mengingatkan ledakan yang pernah terjadi, dan zaman kegelapan yang telah hilang selamanya.
        h2
        b1 Entah bagaimana, Ratu Azshara dan para petinggi Highborne berhasil selamat dari ledakan. Tersiksa dan terluka oleh kekuatan yang mereka lepaskan, Azshara dan para pengikutnya ditarik kedalam dasar laut oleh kekuatan ledakan. Dikutuk dan berubah bentuk, mereka mendapatkan wujud baru dan menjadi serpentine naga yang penuh kebencian. Azshara sendiri dipenuhi dengan kebencian dan kemarahan, berubah menjadi monster, yang mencerminkan kegilaannya dan selalu bersembunyi disarangnya.
        
      section

        b1 Disana, didasar dari Maelstrom, para naga membangun sebuah kota baru, Nazjatar, yang akan mereka gunakan untuk memulihkan kembali kekuatan mereka. Akan menghabiskan waktu sepuluh ribu tahun sebelum para naga dapat muncul ke permukaan dan memperlihatkan keberadaan mereka.

      section

        h2 Gunung Hyjal dan Hadiah Illidan
        b1Beberapa night elf yang selamat dari ledakan berkumpul bersama dan berhasil mencapai sebuah daratan. Entah kenapa, dengan berkah dari Elune, Malfurion, Tyrande dan Cenarius berhasil selamat dari ledakan. Para pahlawan itu setuju untuk memimpin bangsa mereka dan membangun rumah baru. Ketika mereka berjalan di kesunyian, mereka melihat bahwa dunia mereka telah berubah menjadi sebuah kehancuran. Meskipun Sargeras dan pasukan Legionnya berhasil diusir dari dunia Azeroth oleh ledakan Mata Air, Malfurion dan pengikutnya kini dihadapkan oleh akibat yang mengerikan dari sebuah kemenangan.
        
      section

        b1 Ada beberapa Highborne yang selamat dari ledakan. Mereka berhasil mencapai daratan baru besama night elf lainnya. Meskipun Malfurion tidak mempercayai motivasi para Highborne, tapi dia puas bahwa mereka tidak dapat berbuat macam-macam tanpa kekuatan Mata Air Keabadian.
        Ketika para Night Elf mendarat di pantai daratan baru, mereka menemukan bahwa gunung suci, Hyjal, telah selamat dari ledakan. Mencari tempat untuk membangun rumah baru untuk mereka, Malfurion dan para Night Elf mendaki gunung Hyjal dan mencapai sebuah tempat. Ketika mereka mulai membangun rumah, diantara lembah gunung Hyjal, mereka menemukan danau kecil. Seperti mimpi buruk, mereka menemukan bahwa air danau itu penuh dengan sihir.
        
       section 

        b1 Illidan, juga berhasil selamat dari ledakan, telah mencapai lembah Hyjal lama sebelum Malfurion dan para Night Elf. Dalam kegilaannya untuk menjaga aliran sihir di dunia, Illidan telah menuangkan isi botolnya, yang berisi air berharga dari Mata Air Keabadian, kedalam danau kecil itu. Energi dari Mata air dengan cepat menyebar dan berubah menjadi Mata Air Keabadian yang baru. Illidan percaya bahwa Mata Air yang baru adalah hadiah untuk generasi masa depan, sangat kaget ketika Malfurion memburunya. Malfurion menjelaskan kepada adiknya bahwa sihir itu hanya membawa kehancuran dan penggunaannya akan mengakibatkan kerusakan dan kegelapan. Tapi, Illidan menolak untuk menghancurkan kekuatan sihirnya.
        h2
        b1 Mengetahui dimana Illidan berada, Malfurion memutuskan untuk menghentikan adiknya yang gila kekuatan selamanya. Dengan bantuan Cenarius, Malfurion mengurung Illidan dalam penjara bawah tanah, dimana dia tetap dirantai dan tak memiliki kekuatan sampai akhir dunia. Untuk menjaga penjara adiknya, Malfurion memberi kekuatan kepada Warden muda, Maeiv Shadowsong, untuk menjadi penjaga penjara pribadi Illidan.
        
       section 

        b1 Khawatir bahwa menghancurkan Mata Air yang baru akan mengakibatkan ledakan yang lebih hebat, para Night Elf memutuskan untuk membiarkannya. Sehingga, Malfurion mengumumkan bahwa mereka tidak akan pernah belajar seni sihir lagi. Dibawah pengawasan Cenarius, mereka mulai belajar seni kuno Druidism yang dapat membuat mereka menyembuhkan bumi dan menumbuhkan kembali hutan mereka di markas mereka di Gunung Hyjal.
        h2
        b1 Pohon Kehidupan dan Mimpi Emerald
        9,000 tahun sebelum Warcraft I
        Selama bertahun-tahun, para Night Elf bekerja tak kenal lelah untuk membangun rumah mereka. Membiarkan kuil yang hancur dan jalan untuk dibangun kembali, mereka membangun rumah baru mereka di gunung Hyjal. Lalu, para dragon yang selamat dari ledakan muncul ke permukaan dari persembunyian rahasia mereka.
        
      section

        b1 Alexstasza si Merah, Ysera si Hijau, dan Nozdormu si Perunggu mencurahkan air kedalam Sumur para Druid dan memberikan buah-buahan kepada para pekerja Night Elf. Malfurion, yang telah menjadi pimpinan druid dengan kekuatan hebat, menyambut para Dragon Sakti dan memberitahu mereka tentang Mata Air Keabadian yang baru. Para dragon khawatir mendengar kabar buruk itu dan menyimpulkan bahwa selama Mata Air masih ada, pasukan Legion dapat datang kembali satu hari nanti dan menyerang dunia sekali lagi. Malfurion dan tiga Dragon yang tersisa mencari cara untuk menjaga Mata Air Keabadian dan menjamin bahwa Agen dari Burning Legion tidak akan menemukan jalan menuju dunia mereka.
        
      section

        b1 Alexstasza, sang Pemberi Kehidupan, menyimpan sebuah benih kecil didalam hati Mata Air Keabadian. Benih itu, bereaksi dengan air sihir, kemudian tumbuh menjadi pohon yang sangat besar. Akar pohon itu tumbuh dari dalam Mata Air, dan daunnya menjadi atap di langit. Pohon besar itu kemudian menjadi simbol bahwa para Night Elf menyatu dengan alam, dan energi kehidupan yang disebarkan olehnya akan menyembuhkan bumi. Para night elf memberi pohon besar itu sebuah nama Nodrassil, yang artinya “Mahkota Surga” dalam bahasa mereka.
        h2
        b1 Nozdormu, yang Tak Mengenal Waktu, memberikan kekuatannya kepada Pohon Kehidupan untuk menjamin bahwa selama pohon itu tetap ada, para night elf tidak akan bertambah tua atau menjadi sakit.
        
       section 

        b1 Ysera, sang Pemimpi, juga memberikan kekuatan pada Pohon Kehidupan dengan menyambungkannya dengan alamnya, sebuah dimensi yang dikenal sebagai Mimpi Emerald. Di dalam Mimpi Emerald, adalah sebuah dunia arwah, berada diluar garis dunia nyata. Didalam alam itu, Ysera mengatur aliran alam dan evolusi dunia. Para night elf druids, termasuk Malfurion sendiri, terikat dengan Mimpi Emerald melalui Pohon Dunia. Sebagai bagian dari kekuatan mistik mereka, para Druids setuju untuk tidur selama beberapa abad sehingga arwah mereka dapat menjalani jalan dari Mimpi Ysera. Meskipun para druids akan kehilangan banyak waktu selama hibernasi, tapi mereka setuju dengan perjanjian Ysera.

      section

        h2 Pengasingan para High Elf
        b1 7,300 tahun sebelum Warcaft I
        Selama beratus-ratus tahun, kehidupan sosial baru para night elf tumbuh menjadi kuat dan menyebar kedalam hutan yang mereka sebut Ashenvale. Banyak mahluk dan spesies bersembunyi ketika ledakan, seperti furbolgs dan babi hutan, muncul kembali dan memenuhi daratan. Dibawah pimpinan para Druids, para night elf menikmati sebuah era kedamaian dan cahaya dibawah bintang langit.
        h2     
        b1 Tetapi, banyak para Highborne yang selamat menjadi gelisah. Seperti Illidan, mereka menjadi korban dari kehilangan sumber sihir mereka. Mereka mencoba untuk menyerap energi dari Mata Air Keabadian dan kembali belajar sihir. Dath’Remar, pemimpin dari para Highborne, mulai menghina publisitas para Druid, memanggil mereka pengecut karena menolak sihir yang dia katakan itu adalah hak mereka. Malfurion dan para Druid mengabaikan argument Dath’Remar dan memperingatkan para Highborne bahwa siapapun yang menggunakan sihir akan dihukum dengan kematian. Dalam kegilaannya untuk meyakinkan para druid pada hukum mereka, Dath’Remar dan pengikutnya menciptakan badai sihir yang menyeramkan diatas Ashenvale.
        
       section 

        b1 Para druids tidak dapat mengakibatkan kematian lebih banyak para bangsa mereka, lalu mereka memutuskan untuk mengasingkan para Highborne dari daratan mereka. Dath’Remar dan pengikutnya, senang berpisah dari para sepupu mereka, menciptakan kapal khusus dan berlayar kelautan. Meskipun tidak ada yang tahu apa yang menunggu mereka dibalik lautan dan Maelstrom yang bergejolak, mereka bersemangat untuk membangun rumah baru, dimana mereka dapat mempraktekan sihir mereka tanpa gangguan. Para Highborne, atau Quel’dorei, sebutan mereka oleh Azshara dulu, berlabuh di daratan manusia yang disebut Lordaeron. Mereka berencana membangun kerajaan sihir sendiri, Quel’Thalas, dan menolak prinsip para night elf memuja bulan dan kehidupan malam. Selamanya, mereka akan memuja Matahari dan dikenal sebagai High Elf.

      section

        b1 Para Sentinels dan Perjalanan Panjang
        Dengan kepergian sebagian saudara mereka, para Night Elf mengalihkan perhatian mereka untuk menjaga kampung halaman baru mereka. Para Druids, merasa bahwa waktu mereka untuk berhibernasi semakin dekat, bersiap untuk tidur dan meninggalkan keluarga dan yang mereka cintai. Tyrande, yang telah menjadi Hight Priestess of Elune, meminta kekasihnya, Malfurion, untuk tidak meninggalkannya demi Ysera’s Emerald Dream. Tapi Malfurion, telah bersumpah untuk memasuki Dreamways, mengucapkan perpisahan dan bersumpah bahwa mereka tidak akan berpisah selama selalu saling mencintai.
        h2
        b1 Ditinggalkan sendiri untuk melindungi Kalimdor dari bahaya oleh dunia baru, Tyrande mengajarkan keahlian bertarung kepada saudari Night Elf nya. Ksatria wanita yang sangat terlatih dan tak kenal takut yang mempertahankan Kalimdor dikenal sebagai Para Sentinels. Meskipun mereka lebih senang berpatroli di hutan Ashenvale sendirian, mereka mempunyai banyak sekutu yang dapat mereka panggil dalam situasi darurat.
        
       section 

        b1 Sang Demigod Cenarius tetap tinggal disekitar Moonglades di Gunung Hyjal. Putranya, dikenal sebagai Sang Penjaga Alam atau Keeper of the Grove, selalu menjaga para Night Elf dan membantu Sentinel menjaga kedamaian. Bahkan putri pemalu Cenarius, para Dryads, ikut membantu dengan jumlah yang terus bertambah.
        h2
        b1 Tugas memerintah Ashenvale membuat Tyrande sibuk, tapi tanpa Malfurion disampingnya, dia tidak merasa nyaman. Selama beberapa abad ketika para Druids tertidur, dia takut bahwa invasi iblis kedua mulai tumbuh. Dia merasa bahwa pasukan Burning Legion masih diluar sana, dibalik Great Dark di langit, merencanakan balas dendam kepada para Night Elf dan Dunia Azeroth.



  
    script(src='build/build.js')